.navbar {
  width: 100%;
  background-color: rgb(7, 2, 2);
  height: 100px;
  top: 0;
  z-index: 3;
}
a{
  position: absolute;
  color: white;
  top: 2%;
  left: 15px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 50px;
  text-decoration: none;
  background-color: black;
}
.Time {
  position: absolute;
  top: 7%;
  left: 75%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
}
.Date{
  position: absolute;
  top: 7%;
  left: 57%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
}
.preferences{
  position: absolute;
  top: 7%;
  left: 90%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}
.preferencesCard {
  background-color: rgba(33, 37, 41, 0.7);
  width: 150px;
  height: 130px;
  position: absolute;
  top: 17%;
  right: 80px;
  transform: translateY(-50%);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial;
  z-index: 1; /* Ensure the preferences card is above other content */
}
.preferencesCard h1 {
bottom: 20px;
font-size: 12px;
color:aliceblue;
}
.temp{
  position: relative;
  bottom: 10px;
  margin-bottom: 10px;
}
.wind{
  position: relative;
  bottom: 10px;
}
.custom-select{
  width: 85px;
}
.button{
  width: 70px;
  height: 20px;
  background-color: rgb(63, 63, 215);
  border-radius: 8px;
  color: white;
}
@media screen and (max-width:850px ){
  .Time{
    display: none;
  }
  .Date{
    display: none;
  }
}
@media screen and (max-width:1500px ){
  .Date{
    right: 30px;
  }
  .Time{
    right: 30px;
  }
}
@media screen and (max-width:600px ){
.preferences{
    float: right;
    
}
}

@media screen and (max-width:540px ){
  .preferences{
  position: relative;
  left: 50px;
  top: 35px;
  }
}